    html, body {
      height: 100%;
      margin: 0;
    }

    body {
      background-color: #EEEEEE;
      font-family: 'Roboto', 'Noto', sans-serif;
      font-size: 14px;
    }

    ul{
      list-style-type:none;
      width:100%;
      padding:0;
    }

    paper-scroll-header-panel {
      height: 100%;
    }

    paper-card {
      text-align: left;
      width: 100%;
      max-width: 500px;
      margin-bottom: 16px;
    }